# Database Configuration (Local PostgreSQL)
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=ecommerce

# Spring Datasource Configuration
# For Local Docker: jdbc:db_userql://db:5432/ecommerce
# For Supabase: jdbc:db_userql://db.your-id.supabase.co:5432/db_user?sslmode=require
SPRING_DATASOURCE_URL=jdbc:db_userql://db:5432/ecommerce
SPRING_DATASOURCE_USERNAME=admin
SPRING_DATASOURCE_PASSWORD=admin123

# Frontend Configuration
VITE_API_BASE_URL=/api
