# Java / Maven
target/
*.class
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
.vscode/

# Node / React
node_modules/
dist/
build/
.env
.env.local
vite.config.js.timestamp-*

# Project Specific
uploads/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Temp files
*.tmp
*.bak
*.swp
